body{
    margin: 0;
   background-color:#FFFF;
   padding: 0;
   font-family: 'Times New Roman', Times, serif;
   
}
.container{
    width:1250px;
    height: 25vh;
    margin:0 auto;
    background-color: #FFFF;
}
.header-north h1{
    float: right;
    display:block;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    top:0;
    margin-bottom: 40px;
   /* border-bottom: 5px solid black; */
} 
.header-north h1::after {
    content: '';
    height:5px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateX(-120px) translateY(20px);
}  
.image{
    float: left;
    display: block;
    margin-top: 80px;
    margin-left: 50px;
    padding: 0px; 
}
.image img{
height: 100px;
width:100px;
}
.container1{
    width: 1250px;
    margin: 0 auto;
    height: auto;
    padding: 0px auto;
}
.subheading h2{
    display: absolute;
    margin-top: 7%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width:1250px;
}
.subheading  h3{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}
.list{
    margin-top: 0;
}
.subheading .list ol li{
    text-align: left;
    font-size:35px;
    font-weight: 100;
    line-height: auto;
}
.table table {
    width:1250px;
  height: 50vh;
    margin: 0 auto;
    text-align: center;
}
 table,th,td{
    border:2px solid black ;
    border-collapse:collapse;
    padding: 15px;
    text-align: left;
}
thead th{
    font-size: 27px;
    font-weight: 700;
    line-height: 50px;
}
 td{
    font-size: 23px;
    font-weight: 500;
}

.table{
    margin:30px 0;
}
.table2 table{
    width:100%;
}
.sign
{
    display: block;
    float: right;
    right:0;
    bottom:0;
    text-align:center;
    margin-top: 90px;
    font-size: 25px;
    font-weight: 600;
    line-height: 60px;
}
.updated{
    display: block;
    float:left;
    left:0;
    bottom:0;
    margin-top: 17%;
    font-size: 25px;
}