@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#141414];
  }
}

@layer components {
  .loader-container {
    @apply bg-black h-screen w-full flex justify-center items-center;
  }

  .loader {
    background: linear-gradient(45deg, transparent, transparent 40%, #155bd3);
    @apply h-36 w-36 relative rounded-full;
    animation: spin 2.5s linear infinite;
  }
  .loader::before {
    @apply absolute bg-black content-['']
     top-[6px] left-[6px] right-[6px] rounded-full bottom-[6px] z-[10000];
  }
  .loader::after {
    background: linear-gradient(45deg, transparent, transparent 40%, #155bd3);
    @apply absolute content-[''] top-0 left-0 right-0 rounded-full bottom-1 blur-xl;
  }
  @keyframes spin {
    to {
      transform: rotate(0deg);
      filter: hue-rotate(0deg);
    }

    from {
      transform: rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }
}



.no-page-found-container {
  text-align: center;
  padding: 50px;
  font-family: Arial, sans-serif;
  color: #333;
}

.error-code {
  font-size: 96px;
  font-weight: bold;
  color: #ff6b6b;
}

.error-message {
  font-size: 32px;
  margin: 20px 0;
}

.error-description {
  font-size: 18px;
  margin-bottom: 30px;
  color: #666;
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
}